
@font-face {
    font-family: '12th_C._Fancy_Caps';
    src: url('../Fonts/12th_C._Fancy_Caps.ttf') format('truetype');
}
@font-face {
    font-family: 'BEOWULF_MODERN';
    src: url('../Fonts/BEOWULF_MODERN.ttf') format('truetype');
}
@font-face {
    font-family: 'DUNGRG__';
    src: url('../Fonts/DUNGRG__.TTF') format('truetype');
}
@font-face {
    font-family: 'Elementary_Gothic_Bookhand';
    src: url('../Fonts/Elementary_Gothic_Bookhand.ttf') format('truetype');
}
@font-face {
    font-family: 'Fairies';
    src: url('../Fonts/Fairies.otf') format('opentype');
}
}
@font-face {
    font-family: 'JMH Moreneta';
    src: url('../Fonts/JMH Moreneta.ttf') format('truetype');
}
@font-face {
    font-family: 'Older Dictator';
    src: url('../Fonts/Older Dictator.otf') format('opentype');
}
@font-face {
    font-family: 'Ring of Kerry';
    src: url('../Fonts/Ring of Kerry.otf') format('opentype');
}
@font-face {
    font-family: 'Walkiria';
    src: url('../Fonts/Walkiria.ttf') format('truetype');
}


body {
}

/*ALL - Header*/
header {
    background: #c39733;
    background: -moz-linear-gradient(-45deg, #c39733 45%, #feffff 100%, #feffff 100%, #feffff 100%);
    background: -webkit-linear-gradient(-45deg, #c39733 45%,#feffff 100%,#feffff 100%,#feffff 100%);
    background: linear-gradient(135deg, #c39733 45%,#feffff 100%,#feffff 100%,#feffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39733', endColorstr='#feffff',GradientType=1 );
    font-family: 'BEOWULF_MODERN';
    font-size: large;
}

header img {
    float: left;
}

header h1 {
    margin: 4px 0px 2px 150px;
    font-size: 5em;
}

header h3 {
    font-style: italic;
    margin: 4px 0px 0px 400px;
}

div.iconsHeader {
    margin: 0;
    float: right;
    width: 130px;
    display: inline;
}




/*ALL - Nav*/
.active {
    background-color: #4F3D17;
    color: #BFBE9B;
    height: 100%;
}

nav a {
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: black;
    text-decoration: underline;
    background-color: #BFBE9B;
    height: 100%;
}

nav ul {
    background: #c39733;
    background: -moz-linear-gradient(-45deg, #c39733 45%, #feffff 100%, #feffff 100%, #feffff 100%);
    background: -webkit-linear-gradient(-45deg, #c39733 45%,#feffff 100%,#feffff 100%,#feffff 100%);
    background: linear-gradient(135deg, #c39733 45%,#feffff 100%,#feffff 100%,#feffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39733', endColorstr='#feffff',GradientType=1 );
    padding: 0;
    border-top: 1.5px solid #BFBE9B;
    border-bottom: 1.5px solid #BFBE9B;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: .3em 1em;
    display: block
}

/*ALL - Background*/
body {
    background: url(/Images/moon-phases-background.jpg) repeat-y center center fixed;
    background-size: cover;
    margin: 0;
}

/*intro - About Us*/
#aboutUs img {
    float: left;
    width: 20%;
    height: auto;
}

#aboutUs h3 {
    font-size: 2em;
    float: right;
    width: 75%;
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 8px;
    margin-bottom: 4px;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #BFBE9B;

}
#aboutUs p {
    float: right;
    width: 70%;
    height: auto;
    margin-left: 13px;
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #BFBE9B;
}

 article.spaciousTopMargin {
     margin-top: 300px;
 }

/*intro - Why Choose Us*/
.headingStyle {
    margin: 0px;
}

h1.headingStyle {
    text-align: center;
    font-size: 3em;
}

 .topSet {
     display: inline-block;
     border: 2px solid black;
     border-collapse: collapse;
 }

 .bottomSet {
     display: inline-block;
     border: 2px solid black;
     border-collapse: collapse;
 }

 .topSet img {
     float: left;
     width: 50%;
     height: auto;
 }

.topSet p {
    float: right;
    width: 45%;
}

 .bottomSet img {
     float: right;
     width: 50%;
     height: auto;
 }

.bottomSet p {
    float: left;
    width: 45%;
}

.clear {
    clear: both;
}

/*Classes*/

h1.classesHeader {
    color: #BFBE9B;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    text-decoration: underline;
}

div.verticalBlock1 {
    float: left;
    margin-left: 27%;
    margin-right: 5px;
    width: 235px;
    background-color: #4f4e33;
}

div.verticalBlock2 {
    width: 235px;
    float: left;
    background-color: #4f4e33;
}

div.verticalBlock3 {
    width: 235px;
    float: left;
    margin-left: 5px;
    margin-right: 25%;
    background-color: #4f4e33;
}

section.descriptionsTop {
    text-align: center;
    display: inline;
    color: #BFBE9B;
}

section.descriptionsBottom {
    text-align: center;
    color: #BFBE9B;
}

.verticalBlock1 p {
    height: 155px;
}

.verticalBlock2 p {
    height: 155px;
}

.verticalBlock3 p {
    height: 155px;
}

section.imagesBottom {
      display: inline;
}

/*
/*section.descriptionsBottom {
/*    width: 70%;
/*    align-self: center;
/*    text-align: center;
/*    display: inline-block;
/*}
/*
/*div.descriptionsTop {
/*    width: 235px;
/*    height: auto;
/*    align-content: center;
/*    align-self: center;
/*}
/*
/*div.descriptionsBottom {
/*    width: 235px;
/*    height:auto;
/*    align-content: center;
/*    align-spxelf: center;
/*}*/

/*
/*.verticalBlock2 {
/*    border-left: ridge;
/*    border-right: ridge;
/*    border-collapse: collapse;
/*}
/*
/*.verticalBlock3 {
/*    border-left: ridge;
/*    border-right: ridge;
/*    border-collapse: collapse;
/*}*/

/*Classes - Schedule tables*/

div.scheduleTable {
    margin-left: 30%;
}

table {
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    color: #BFBE9B;
    border: 2px double #BFBE9B;
    ;
}

    table th {
        background-color: #C39738;
        color: black;
        padding: 4px;
        border: 2px double #BFBE9B;
        border-collapse: collapse;
    }

tbody tr {
    padding: 4px;
    border: 2px double #BFBE9B;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: rgba(255,255,255,0.3);
}

/*Team*/

#htmlLeftColumn {
    margin-right: 12%;
    border-right: 3px inset #4F3D17;
    display: inline;
}

#htmlRightColumn {
    width: 12%;
    float: right;
    background: #BFBE9B;
    display: inline;
    height: 100%;
}

h2 {
    text-align: center;
    font-size: 2em;
}

img {
    float: left;
    margin-left: 2%;
    /*margin-bottom: 3%;*/
}

p {
    float: left;
    width: 40%;
    height: auto;
    margin-left: 3%
}

h3 {
    float: left;
    width: 45%;
    margin-left: 2%;
}

div.clear {
    border: ridge;
}


/*Contact - Body*/
header.contactUs {
    width: 50em;
}
.contactUs h1 {
    text-align: center;
    background-color: #BFBE9B;
    width: 500px;
    font-size: 3em;
}
.contactUs h2 {
    background-color: black;
    color: #BFBE9B;
    font-size: 2em;
    width: 500px;
    /*margin: 0;*/
}
div.contactCenter {
    position: relative;
    left: 30%;
}
h2.address {
    margin-bottom: 40px;
}

/*ALL - Articles Background*/
article {
    background: #4F4E33;
    color: #BFBE9B;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*ALL - Footer*/
footer {
    background: #c39733;
    background: -moz-linear-gradient(-45deg, #c39733 45%, #feffff 100%, #feffff 100%, #feffff 100%);
    background: -webkit-linear-gradient(-45deg, #c39733 45%,#feffff 100%,#feffff 100%,#feffff 100%);
    background: linear-gradient(135deg, #c39733 45%,#feffff 100%,#feffff 100%,#feffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39733', endColorstr='#feffff',GradientType=1 );
    color: black;
    font-style: italic;
    border: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

footer h4 {
    float: left;
}

div.iconsFooter {
    margin: 0;
    float: right;
    width: 130px;
}