body {
}

/*ALL - Header*/
header {
    background-color: background-color: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+0,ff7c00+79,ff7f04+100 */
    background: rgb(255,183,107); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,183,107,1) 0%, rgba(255,124,0,1) 79%, rgba(255,127,4,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,183,107,1) 0%,rgba(255,124,0,1) 79%,rgba(255,127,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,183,107,1) 0%,rgba(255,124,0,1) 79%,rgba(255,127,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

header img {
    float: left;
}

header h1 {
    margin: 4px 0px 2px 150px;
    font-size: 3em;
}

header h3 {
    font-style: italic;
    margin: 4px 0px 0px 400px;
}

div.iconsHeader {
    margin: 20px 8px 8px 8px;
    float: right;
    width: 250px;
    text-align: justify;
}

/*ALL - Nav*/
nav a {
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: lightblue;
    text-decoration: underline;
    background-color: darkblue;
}

nav a:focus {
    color: black;
    text-decoration: underline;
}

nav ul {
    background-color: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+0,ff7c00+79,ff7f04+100 */
    background: rgb(255,183,107); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,183,107,1) 0%, rgba(255,124,0,1) 79%, rgba(255,127,4,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,183,107,1) 0%,rgba(255,124,0,1) 79%,rgba(255,127,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,183,107,1) 0%,rgba(255,124,0,1) 79%,rgba(255,127,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 0;
    border-top: 1.5px solid darkgray;
    border-bottom: 1.5px solid darkgray;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: .3em 1em;
    display: block
}

/*ALL - Background*/
body {
    background: url(/Images/moon-phases-background.jpg) repeat-y center center fixed;
    background-size: cover;
    margin: 0;
}

/*intro - About Us*/
#aboutUs img {
    float: left;
    width: 20%;
    height: auto;
}

#aboutUs h3 {
    font-size: 2em;
    float: right;
    width: 78%;
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 8px;
    margin-bottom: 4px;
    text-decoration: underline;

}#aboutUs p {
    float: right;
    width: 72%;
    height: auto;
    margin-left: 13px;
    margin-right: 50px;
}

 article.spaciousTopMargin {
     margin-top: 300px;
 }

/*intro - Why Choose Us*/
.headingStyle {
    margin: 0px;
}

h1.headingStyle {
    text-align: center;
    font-size: 3em;
}

 .topSet {
     display: inline-block;
     border: 2px solid black;
     border-collapse: collapse;
 }

 .bottomSet {
     display: inline-block;
     border: 2px solid black;
     border-collapse: collapse;
 }

 .topSet img {
     float: left;
     width: 50%;
     height: auto;
 }

.topSet p {
    float: right;
    width: 45%;
}

 .bottomSet img {
     float: right;
     width: 50%;
     height: auto;
 }

.bottomSet p {
    width: 45%;
}

.clear {
    clear: both;
}

/*Classes*/

.descriptionsTop, .descriptionsBottom {
    background-color: silver;
}

.descriptionsTop h1 {
    text-align: center;
}

.descriptionsBottom h1 {
    text-align: center;
}

.descriptionsTop, .descriptionsBottom p1 {
    text-align: left;
}

/*.imagesTop div.verticalBlock1 {
/*    float: left;
/*    width: 25%;
/*}
/*
/*.imagesTop div.verticalBlock2 {
/*    float: left;
/*    width: 25%;
/*}
/*
/*.imagesTop div.verticalBlock3 {
/*    float: right;
/*    width: 25%;
/*}*/

section.imagesTop {
    width: 100%;
    text-align: center;
    display: inline-block;
}

div.verticalBlock1 {
    width: 235px;
    float: left;
    margin-left: 20em;
    margin-right:5px;
}

div.verticalBlock2 {
    width: 235px;
    float:left;
}

div.verticalBlock3 {
    width: 235px;
    float: left;
    margin-left: 5px;
}

section.descriptionsTop {
    width: 70%;
    align-self: center;
    text-align: center;
    display: inline-block;
}

section.imagesBottom {
    width: 100%;
    text-align: center;
    display: inline-block;
}

section.descriptionsBottom {
    width: 70%;
    align-self: center;
    text-align: center;
    display: inline-block;
}

div.descriptionsTop {
    width: 235px;
    height: auto;
    align-content: center;
    align-self: center;
}

div.descriptionsBottom {
    width: 235px;
    height:auto;
    align-content: center;
    align-self: center;
}

.desriptionsTop .verticalBlock1 div {
    width: 235px;
}
.desriptionsTop .verticalBlock2 div {
    width: 235px;
}
.desriptionsTop .verticalBlock3 div {
    width: 235px;
}

/*.verticalBlock1 {
/*    border-left: ridge;
/*    border-right: ridge;
/*    border-collapse: collapse;
/*}
/*
/*.verticalBlock2 {
/*    border-left: ridge;
/*    border-right: ridge;
/*    border-collapse: collapse;
/*}
/*
/*.verticalBlock3 {
/*    border-left: ridge;
/*    border-right: ridge;
/*    border-collapse: collapse;
/*}*/



/*Contact - Body*/
header.contactUs {
    width: 50em;
}
.contactUs h1 {
    text-align: center;
    background-color: silver;
    width: 500px;
    font-size: 3em;
}
.contactUs h2 {
    background-color: black;
    color: silver;
    font-size: 2em;
    width: 500px;
    /*margin: 0;*/
}
div.contactCenter {
    position: relative;
    left: 30%;
}
h2.address {
    margin-bottom: 40px;
}

/*ALL - Articles Background*/
article {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#98bede+0,deefff+56 */
    background: rgb(152,190,222); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(152,190,222,1) 0%, rgba(222,239,255,1) 56%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(152,190,222,1) 0%,rgba(222,239,255,1) 56%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(152,190,222,1) 0%,rgba(222,239,255,1) 56%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98bede', endColorstr='#deefff',GradientType=0 ); /* IE6-9 */
}

/*ALL - Footer*/
footer {
    background-color: background-color: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+0,ff7c00+79,ff7f04+100 */
    background: rgb(255,183,107); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,183,107,1) 0%, rgba(255,124,0,1) 79%, rgba(255,127,4,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,183,107,1) 0%,rgba(255,124,0,1) 79%,rgba(255,127,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,183,107,1) 0%,rgba(255,124,0,1) 79%,rgba(255,127,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: black;
    font-style: italic;
    border: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

footer h4 {
    float: left;
}

div.iconsFooter {
    margin: 8px;
    float: right;
    width: 250px;
}